<div>
    <div class="row section-divider">
            <div class="col-md-12 col-lg-12 col-xs-9 col-sm-9">
                <span class="text-muted header-lg transform-text">your shopping bag</span>
            </div>
            <div class="col-xs-3 col-sm-3 visible-xs visible-sm">
                <span class="text-muted">{{itemsCount}}</span><span class="space transform-text">items</span>
            </div>
    </div>

    <div class="row visible-md visible-lg margin-top">
        <div class="col-md-9 col-lg-9">
            <span class="text-muted">{{itemsCount}}</span><span class="space transform-text">items</span>
        </div>
        <div class="col-md-1 col-lg-1 transform-text">
            <span>size</span>
        </div>
        <div class="col-md-1 col-lg-1 transform-text">
            <span>qty</span>
        </div>
        <div class="col-md-1 col-lg-1 transform-text">
            <span>price</span>
        </div>
    </div>
</div>