
.header-lg
{
    font-size: 28px;
}
.section-divider
{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.margin-top
{
    margin-top: 20px;
}
.space
{
    margin-left: 5px;
}

.products
{
    margin-top: -20px;
}

.product-divider
{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cart:last-child
{
    border: none;
    padding-bottom: 0;
}
.center-options
{
    text-align: center;
    margin-top: 20px;
}
.price
{
    font-size: 16px;
    font-weight: bold;
}

.price-lg
{
    font-size: 24px;
    font-weight: bold;
}
.divider
{
    margin: 20px 0 20px 0;
    height: 5px;
    background: #eee;
}

.payment-view
{
    margin-top: 20px;
}

.clear-fix
{
    clear: both;
}
.transform-text
{
    text-transform: uppercase;
}

.color-selector
{
    width: 20px;
    height: 20px;
    margin: 2px;
    display: inline-block;
}

.selected
{
    width: 30px;
    height: 30px;
}
